body {
  font: 10px sans-serif;
}

.node {
  cursor: pointer;
  stroke: #fff;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #000;
}

.border {
  fill: none;
  shape-rendering: crispEdges;
  stroke: #aaa;
}

